<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seznam Nahrávek</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('partials/navbar') %>
<div class="recordings-container">
    <table class="recordings-table">
        <thead>
        <tr>
            <th>Soubor</th>
            <th>Počet kliknutí</th>
            <th>Vytvořeno</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        <% recordings.forEach(recording => { %>
            <tr class="recording-item">
                <td class="file-name"><%= recording.recording_file_path %></td>
                <td class="click-count"><%= recording.click_count %></td>
                <td class="created-at"><%= recording.created_at %></td>
                <td><button class="play-button" onclick="playRecording('<%= recording.recording_file_path %>')">Poslechnout</button></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<script>

</script>

</body>
</html>
