<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Moje Nahrávky</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>  <!-- Navigační panel -->

<div class="recordings-container">
    <% if (recordings && recordings.length > 0) { %>
        <table>
            <thead>
            <tr>


                <th>Datum Vytvoření</th>
                <th>Počet Kliků</th>
                <th>Doba nahrávky</th>
                <th>Efektivnost</th>

            </tr>
            </thead>
            <tbody>
            <% recordings.forEach((recording) => { %>
                <tr>

                    <td><%= new Date(recording.created_at).toLocaleString() %></td>  <!-- Formátování data -->
                    <td><%= recording.click_count || '0' %></td>


                    <%# ChatGPT %>
                    <td>
                        <%= (recording.duration >= 60)
                                ? (recording.duration / 60).toFixed(1) + " min"
                                : recording.duration + " s"
                        %>
                    </td>
                    <%# ChatGPT %>


                    <td><%=  (recording.click_count/60).toFixed(3) + " /min" || '0' %></td>

                </tr>
            <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>Nemáte žádné nahrávky.</p>
    <% } %>
</div>
</body>
</html>
